@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

.sidebar {
  background-color: #000000;
  position: fixed;
  top: 30%;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  /* Define the transition */
  transition: width 0.3s ease-in-out;
  overflow: hidden;
  z-index: 100000;
  color: white;
}

.collapsed {
  width: 60px;
  height: 200px;
}

.expanded {
  width: 300px;
  height: 500px;
  top: 15%;
}

.toggle-div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
  font-family: 'Outfit', sans-serif;
  writing-mode: vertical-lr;
  height: 200px;
  width: 60px;
  cursor: pointer;
}

.sidebar-content {
  padding: 10px;
}

.main-header {
  display: flex;
  font-size: large;
  font-family: 'Outfit', sans-serif;
  align-items: center;
  justify-content: space-between;
  width: 260px;
}