.container {
  display: flex;
  justify-content: space-between;
}

.column {
  flex-basis: calc(50% - 20px);
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

li {
  display: inline-block;
  margin: 0 20px;
}

h2 {
  margin-top: 0;
}
li img {
  width: 100px;
  margin-top: 20px;
}