.result-wrapper {
  text-align: left;
  padding: 15px;
  background: #000;
  color: #fff;
}
.result-wrapper h2 {
  font-size: 18px;
  font-weight: 700;
}
.result-wrapper .result-item {
  margin: 12px 0;
  display: flex;
  align-items: center;
}

.result-wrapper .result-label {
  width: 100px;
}

.result-wrapper .result-value {
  background: #333437;
  border-radius: 12px;
  padding: 6px 18px;
}
.result-wrapper a {
  text-decoration: underline;
}